@page
@model Algora.Web.Pages.InvoiceDownloadModel
@{
    // This page returns a PDF (FileResult) from OnGetAsync.
    // The page body is not used when returning File but the file must exist to route correctly.
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Invoice Download</title>
</head>
<body>
    <p>Generating invoice... If you see this, the page executed without returning a file.</p>
</body>
</html>